[submodule "sem02/psn/ClickCounterFPGA"]
	path = sem02/psn/ClickCounterFPGA
	url = https://github.com/truta193/ClickCounterFPGA.git
[submodule "sem02/pla/BreakoutASM"]
	path = sem02/pla/BreakoutASM
	url = https://github.com/truta193/BreakoutASM.git
[submodule "sem04/ac/PipelineMIPS"]
	path = sem04/ac/PipelineMIPS
	url = https://github.com/truta193/AC-PipelineMips.git
[submodule "sem03/bd/BD-Polyclinic"]
	path = sem03/bd/BD-Polyclinic
	url = https://github.com/truta193/BD-Polyclinic.git
[submodule "sem05/pg/PG-OpenGLScene"]
	path = sem05/pg/PG-OpenGLScene
	url = https://github.com/truta193/PG-OpenGLScene.git
[submodule "sem05/ssc/SSC-MipsSimulator"]
	path = sem05/ssc/SSC-MipsSimulator
	url = https://github.com/truta193/SSC-MipsSimulator.git
[submodule "sem05/is/IS-ProjectManagementApplication"]
	path = sem05/is/IS-ProjectManagementApplication
	url = https://github.com/truta193/IS-ProjectManagementApplication.git
